
		.item{
			left: 0;
			top: 0;
			position: relative;
			overflow: hidden;
			margin-top:50px;

		}

		.item img:hover{
			-webkit-transform: scale(1.2);
  			transform: scale(1.2);

		}
	





body{
  background-color: powderblue;
}


.h1 {
  width: 900px;
  text-align: center;
}

#tweet{
  padding-left: 100px
}

 .nav-item{
  margin-left: 17px;
  margin-right: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid;
  border-radius: 8px;
  border-color: #e9ecef;
}
li{
  margin-left: 17px;
  margin-right: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

#ni:hover{
  background-color: white;
  border-color: #6c757d;
}
.nav-item:hover{
  background-color: white;
  border-color: #6c757d;
}

#ni{
  margin-left: 40px;
  margin-right: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid;
  border-radius: 8px;
  border-color: #e9ecef;
}

#nvi:hover{
  background-color: white;
}

#nvi{
  margin-left: -17px;
  margin-Right: -17px;
  border-radius: 4px;
  border-color: white;
}

@media (max-width: 900px){
  .nav-item{
    border-color: white;
  }
}

a{

}


.img-thumbnail {
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.img-thumbnail:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}


.gallery{
  background-color: #dbddf1;
  padding: 80px 0;
}

/* .gallery img{
  background-color: #ffffff;
  padding: 15;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  cursor: pointer;
} */

/* #gallery-Modal .modal-img{
  width: 100%;
} */



@media (max-width: 1200px)
.bn-md {
    display: block;
}
.bn-p-b {
    padding-bottom: 30px;
}
.bn-md {
    width: 100%;
    min-width: 468px;
    min-height: 60px;
    position: relative;
    float: left;
    text-align: center;
}
@media (min-width: 768px)
.col-sm-12 {
    width: 100%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}



















.container{
  margin-top: 0.1px;
}


  #hethlu{
    margin-top: 0px;
  }



.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container, .col1, .col2, .col3, .col4, .col5, .col6, .col7 {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

a{
  text-decoration: none;
}

/* .col1, .col2, .col3, .col4, .col5, .col6, .col7{
    border-radius: 8000px;
}


.col1, .col2, .col3, .col4, .col5, .col6, .col7:hover span{
  color: black;
} */
